.success-animation { 
margin:1px auto;
width: 60%;
height:200px;
border: 1px solid #4bb71b;
background-color:#bff3a8 ;
border-radius: 5px;
display: none;

}

.checkmark {
    width: 100px;
    cursor: pointer;
    height: 100px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
   margin-top: 2%;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    cursor: pointer;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.done{
    margin:5% 0% 0%  23%;
    color:  #4bb71b;
    text-decoration:none;
    cursor: pointer;
    display: none;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}